body{
    width: 1024px;
    margin:auto;
    background-color: #f3e9d2;
}

button {
    /*display: inline-flex;*/
	align-items: center;
	justify-content: center;
	width: auto;
	height: 40px;
	background: #141414;
	color: #fff;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .2s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

button::after {
	content: "";
	width: 100%;
	height: 100%;
	background: #c4b107;
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .2s ease-in-out all;
}

button:hover::after {
	top: 0;
}

button:active::after { 
    top: -80px;
    transition: .1s ease-in-out all;
} 

span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.desplegar{
	width: 100%;
}

.panel{
	padding: 0px 20px;
	display: none;
}
